{% extends "base.html" %}

{% block title %}Ticket{% endblock %}

{% block content%}

<h1>Ticket 01</h1>

<section id= "details">

</section>

<section id="description">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit
        inventore voluptatibus sint, maxime sed optio commodi fuga nihil, possimus
        nam. Deserunt, perspiciatis voluptatem! Laudantium totam quo quas voluptatem
        et?
      </p>
      
      <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit
          inventore voluptatibus sint, maxime sed optio commodi fuga nihil, possimus
          nam. Deserunt, perspiciatis voluptatem! Laudantium totam quo quas voluptatem
          et?
        </p>

</section>

{% endblock %}
