{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% block css_files %} {% endblock %}

    <link rel="stylesheet" href="{% static "app.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    
</head>

<body>
    <nav>
        <div class="nav-bar">
            <div class="nav-left">
                <a href="{% url 'landing-page' %}">Home</a>
            </div>
    
            <div class="nav-right">
                <div class="dropdown-menu">
                    <a href="#" class="nav-menu-icon">Menu</a>
                    <div class="dropdown-content">
                        <a href="{% url 'tickets-page' %}">My tickets</a>
                        {% if not request.user.profile.is_agent %}
                            <a href="{% url 'ticket-creation-page' %}">Create Ticket</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock  %}
    {% block javascript %}{% endblock %}
</body>


</html>