{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %}{% endblock %}
</head>

<body>
    <nav>
        <div class="nav-bar">
            <div class="nav-left">
                <a href="{% url 'landing-page' %}">Home</a>
            </div>
    
            <div class="nav-right">
                <div class="dropdown-menu">
                    <a href="#" class="nav-menu-icon">Menu</a>
                    <div class="dropdown-content">
                        <a href="{% url 'tickets-page' %}">My tickets</a>
                        <a href="{% url 'ticket-creation-page' %}">Create Ticket</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock  %}
</body>


</html>