<nav class="collapse">
    <ul class="nav nav-pills" id="mainNav">
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle active" href="{% url 'landing-page' %}">
                Home
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="{% url 'tickets-page' %}">
                My tickets
            </a>
        </li>
        {% if request.user.profile.is_agent %}
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#">
                Analytics
            </a>
            <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a class="dropdown-item" href="{% url 'tickets-statistics' %}">Statistics</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-item" href="{% url 'tickets-report' %}">Reports</a>
                    </li>
            </ul>
        </li>
        {% endif %}
        {% if not request.user.profile.is_agent %}
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="{% url 'ticket-creation-page' %}">
                Create Ticket
            </a>
        </li>
        {% endif %}
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="{% url 'logout' %}">
                Logout
            </a>
        </li>
    </ul>
</nav>